<div class="container">
  <div class="calculator">
    <div appClicker></div>

    <Table>
      <tr>
        <td>
          <div class="output"> 
            <output id="expression" *ngIf="this.myFunction.length === 0"> 
              {{leftOperand}} {{operator}} {{rightOperand}}
            </output>
            <output id="functionResult" *ngIf="this.myFunction.length != 0">{{myFunction}}({{leftOperand}})</output>
            <output id="result"> {{config.result}} </output>   
          </div>

        </td>
      </tr>
      <tr>
        <td>
          <button class="function2" (click)="percent()">%</button>
        </td>
        <td>
          <button class="function2" (click)="clear()">CE</button>
        </td>
        <td>
          <button class="function2" (click)="clear()">C</button>
        </td>
        <td>
          <button class="function2" (click)="eraseRecent()">back</button>
        </td>
      </tr>

        <tr>
          <td>
            <button class="function" (click)="inverse()">x<sup>-1</sup></button>
          </td>
          <td>
            <button class="function" (click)="square()">x<sup>2</sup></button>
          </td>
          <td>
            <button class="function" (click)="squareRoot()">
              &#8730;x
            </button>
          </td>

          <td>
            <button class="operation"(click)="setOperator('/')" >&#8725;</button>
          </td>
        </tr>
        
        
      <tr>
        <td>
          <button class="number" (click)="appendOperand('7')">7</button>
        </td>
        <td>
          <button class="number" (click)="appendOperand('8')">8</button>
        </td>
        <td>
          <button class="number" (click)="appendOperand('9')">9</button>
        </td>
        <td>
          <button class="operation" (click)="setOperator('*')">&#10006;</button>
        </td>
      </tr>
      
      <tr>
        <td>
          <button class="number" (click)="appendOperand('4')">4</button>
        </td>
        <td>
          <button class="number" (click)="appendOperand('5')">5</button>
        </td>
        <td>
          <button class="number" (click)="appendOperand('6')">6</button>
        </td>
        <td>
          <button class="operation" (click)="setOperator('-')">&minus;</button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="number" (click)="appendOperand('1')">1</button>
        </td>
        <td>
          <button class="number" (click)="appendOperand('2')">2</button>
        </td>
        <td>
          <button class="number" (click)="appendOperand('3')">3</button>
        </td>
        <td>
          <button class="operation" (click)="setOperator('+')">&plus;</button>
        </td>
      </tr>
      
        <tr id="last-row">
          <td id="zero">
            <button class="number" (click)="appendOperand('0')">0</button>
          </td>
          <td>
            <button class="number" (click)="appendOperand('.')">.</button>
          </td>
          <td>
            <button class="operation" id="equals" (click)="calculate()">&equals;</button>
          </td>
        </tr>
      </Table>
      
    </div>
  </div>