.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: black;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
}
tr {
    display: flex;
}

td{
    flex: 1 ;
    min-width: 60px;
}

button {
    width: 100%;
   /*  height: 60px; */
    height: 8vh;
    min-height: 40px;
    color: #cfe2f1;
    border-radius: 8px;
    font-size: 15px;
}

button:hover.number {
    background-color: #1d3849;
    transition: 0.3s;
}
button:active{
    background-color: #123c24 !important; 
}

button:hover.function,
button:hover.function2 {
    background-color: #142f44;
    transition: 0.3s;
}

button:hover.operation {
    background-color: #1d3849;
    transition: 0.3s;
}

button:hover#equals {
    background-color: #2a4f67;
    transition: 0.3s;
}

#zero {
    flex: 2;
}

.number {
    background-color: 	#205b7a;
}  

.operation {
    background-color: #142f44;
}

.function {
    background-color: #1d3849;
}

.function2 {
    background-color: #1d3849;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    background-color: #cfe2f1;
    color: black;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    overflow: hidden;
    text-overflow: ellipsis;
    width:300px;
    margin-bottom: 10px;
}

#result {
    align-self: flex-end;
    
}
#expression{
    
    justify-content: space-between; 
}
#id {
    font: xx-large;
}

#equals {
    background-color: #2774af;
}
